body {
  margin: 0;
  background-color: #e9e6e5;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
